---
import MobileMenuToggle from "virtual:starlight/components/MobileMenuToggle";
import Sidebar from "./Sidebar.astro";
---

<div class="page ama-page">
  <header class="header"><slot name="header" /></header>
  <nav class="sidebar print:hidden" aria-label={Astro.locals.t("sidebarNav.accessibleLabel")}>
    <MobileMenuToggle />
    <div id="starlight__sidebar" class="sidebar-pane">
      <div class="sidebar-content">
        <Sidebar />
      </div>
    </div>
  </nav>
  <div class="main-frame"><slot /></div>
</div>
