<div class="ama-two-column">
  <aside class="right-sidebar-container print:hidden">
    <div class="right-sidebar">
      <slot name="right-sidebar" />
    </div>
  </aside>
  <div class="main-pane">
    <slot />
  </div>
</div>

